<html>
    <head>
        <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.6.2/css/bulma.min.css"/>
    </head>
    <body>
        <section class="hero is-warning">
                <div class="hero-body">
                        <h1 class="title is-1">An error occured</h1>
                        <h2 class="subtitle">Please check to make sure your script code is valid</h2>
                </div>
            </section>
        <section class="section">
            <div class="container">
                    <a class="button is-primary" href="/">Back to submission</a>
            </div>
        </section>
    </body>
</html>