<html>
    <head>
        <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.6.2/css/bulma.min.css"/>
    </head>
    <body>
        <section class="hero is-primary">
                <div class="hero-body">
                        <h1 class="title is-1">Rock Paper Scissors</h1>
                        <h2 class="subtitle">Enrichment Tournament</h2>
                </div>
            </section>
        <section class="section">
            <div class="container">
                <form class="form" action="/submit" method="post">
                    <div class="field">
                        <label class="label">Enter name</label>
                        <div class="control">
                                <input class="input" placeholder="John Smith" type="text" name="name">
                        </div>
                    </div>
                    <div class="field">
                        <label class="label">Enter script</label>
                        <div class="control">
                            <textarea class="textarea" name="script" placeholder="Python code goes here" rows="20"></textarea>
                        </div>
                    </div>
                    <div class="field">
                        <button type="submit" class="button is-link">Submit</button>
                        <a class="button is-primary" href="/leaderboard">Leaderboard</a>
                    </div>
                </form>
            </div>
        </section>
        <section class="section">
            <div class="container">
                <h2 class="title is-2">Example Random Turn Strategy</h2>
                <script src="https://gist.github.com/AranScope/04cfe37cfac87e298d4418a7e40ed673.js"></script>
            </div>
        </section>
    </body>
</html>
